body {
  background-color: wheat;
}

h1 {
  text-align: center;
}

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-background {
  background-image: url("images/sky.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  width: 500px;
  border: 2px solid black;
  border-radius: 5px;
}

.calculator {
  margin: 0px auto;
  background-color: grey;
  padding: 20px 15px;
  width: 230px;
  border-radius: 20px;
  border: 2px solid black;
}

.calculator button {
  width: 50px;
  height: 50px;
  flex: 0 0 auto;
}

.calculator button:hover {
  background-color: #dddddd;
}

.calculator button, .calculator .display {
  border-radius: 2px;
  border: thin solid black;
}

.row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.calculator .display {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100px;
  background-color: #f0f0f0;
  padding: 10px;
}

.calculator .display .text {
  font-size: 50px;
}

.calculator .display .operator {
  font-size: 20px;
  font-weight: 700;
}
